version: '3.2'

services:
  image:
    container_name: swoole-library-image-builder
    build: .
    image: swoole-library
    entrypoint: echo
    command: Image ready

  composer:
    container_name: swoole-library-composer-runner
    image: swoole-library
    entrypoint: composer
    command: validate
    volumes:
      - ./:/var/www

  app:
    container_name: swoole-library-app
    image: swoole-library
    links:
      - mysql
      - pgsql
      - oracle
      - redis
      - wordpress
      - nacos
      - consul
    environment:
      DISABLE_DEFAULT_SERVER: 1
      GITHUB_ACTIONS: "yes"
    ports:
      - "80:80"
    volumes:
      - .:/var/www
      - wordpress:/var/www/html

  php-fpm:
    container_name: swoole-library-php-fpm
    image: php:7.4-fpm
    volumes:
      - .:/var/www

  wordpress:
    container_name: swoole-library-wordpress
    image: wordpress:php7.4-fpm
    links:
      - mysql
    environment:
      WORDPRESS_DB_HOST: mysql
      WORDPRESS_DB_USER: username
      WORDPRESS_DB_PASSWORD: password
      WORDPRESS_DB_NAME: test
      WORDPRESS_TABLE_PREFIX: wp_
    volumes:
      - type: volume
        source: wordpress
        target: /var/www/html
        volume:
          nocopy: false

  mysql:
    container_name: swoole-library-mysql
    image: mysql:5.7
    environment:
      MYSQL_DATABASE: test
      MYSQL_USER: username
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: password

  pgsql:
    container_name: swoole-library-pgsql
    image: postgres:14
    environment:
      POSTGRES_USER: root
      POSTGRES_DB: test
      POSTGRES_PASSWORD: root

  oracle:
    container_name: swoole-library-oracle
    image: gvenzl/oracle-xe:slim
    environment:
      ORACLE_PASSWORD: oracle
    ports:
      - "1521:1521"

  redis:
    container_name: swoole-library-redis
    image: redis:5.0

  nacos:
    container_name: swoole-library-nacos
    image: nacos/nacos-server
    ports:
      - "8848:8848"
    environment:
      MODE: standalone
      PREFER_HOST_MODE: hostname

  consul:
    container_name: swoole-library-consul
    image: consul:1.15
    command:
      consul agent -dev -client=0.0.0.0
    ports:
      - "8500:8500"

volumes:
  wordpress:

networks:
  default:
    name: swoole-library-network
