parameters:
  level: 5
  paths:
    - ./src
  ignoreErrors:
    - '#Comparison operation ">=" between \d+ and \d+ is always true\.#'
    - '#Trait [a-zA-Z0-9_\\]+ is used zero times and is not analysed\.#'
