parameters:
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - '#Call to an undefined static method Swoole\\Coroutine\\Socket::import\(\).#'
    - '#Access to an undefined property Swoole\\Coroutine\\Socket::\$__ext_sockets_timeout.#'
    - '#Access to an undefined property Swoole\\Coroutine\\Socket::\$__ext_sockets_nonblock.#'
    - '#Property Swoole\\Coroutine\\FastCGI\\Client::\$socket \(Swoole\\Coroutine\\Socket\) does not accept null.#'
    - '#Access to an undefined property Swoole\\Coroutine\\Http\\ClientProxy::\$errCode.#'
    - '#Property Swoole\\Server::\$admin_server \(Swoole\\Coroutine\\Http\\Server\) does not accept null.#'
    - '#Return type \(Swoole\\StringObject\) of method Swoole\\ArrayObject::serialize\(\) should be compatible with return type \(string\|null\) of method Serializable::serialize\(\)#'
    - '#Property Swoole\\ConnectionPool::\$pool \(Swoole\\Coroutine\\Channel\) does not accept null.#'
    - '#Argument of an invalid type Swoole\\Curl\\Handler supplied for foreach, only iterables are supported.#'
