<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    backupGlobals="false"
    bootstrap="tests/bootstrap.php"
    beStrictAboutTestsThatDoNotTestAnything="false"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd">
  <testsuite name="default">
    <directory suffix="Test.php">tests/unit</directory>
    <exclude>tests/unit/Thread</exclude>
  </testsuite>
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="display_errors" value="On"/>
    <ini name="display_startup_errors" value="On"/>
  </php>
</phpunit>
