name: Unit Tests

on: [ push, pull_request, workflow_dispatch ]

jobs:
  # Run unit tests with Swoole 6.0+.
  unit-tests:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        image-tag-prefix: ["", "6.0-"]
        php: ["8.1", "8.2", "8.3", "8.4"]

    name: Image phpswoole/swoole:${{ matrix.image-tag-prefix }}php${{ matrix.php }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare Test Environment
        env:
          IMAGE_TAG_PREFIX: ${{ matrix.image-tag-prefix }}
          PHP_VERSION: ${{ matrix.php }}
        run: |
          docker compose pull
          docker compose build
          docker compose up -d

          docker compose exec -T app php -v
          docker compose exec -T app php --ri swoole
          docker compose exec -T app composer install -n -q --no-progress

          sleep 40s

      - name: Run Unit Tests
        run: docker compose exec -T app composer test
