name: Unit Tests

on: [ push, pull_request, workflow_dispatch ]

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        php: ["7.1", "7.2", "7.3", "7.4", "8.0"]
        swoole: ["4.5", "4.6"]
        exclude:
          - php: "7.1"
            swoole: "4.6"

    name: Unit Tests Under PHP ${{ matrix.php }} And Swoole ${{ matrix.swoole }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Services
        run: |
          sed -i.bak -e "s/^FROM phpswoole\/swoole.*$/FROM phpswoole\/swoole:${{ matrix.swoole }}-php${{ matrix.php }}/g" ./Dockerfile
          docker-compose up -d
          docker ps -a
          docker exec -t $(docker ps -qf "name=app") bash -c "php -v"
          docker exec -t $(docker ps -qf "name=app") bash -c "php --ri swoole"
          docker run --rm -v "$(pwd)":/var/www -t phpswoole/swoole:${{ matrix.swoole }}-php${{ matrix.php }}-dev composer install -n

      - name: Run Unit Tests
        run: docker exec -t $(docker ps -qf "name=app") bash -c "./vendor/bin/phpunit --process-isolation"

      - name: Stop and Remove Docker Containers
        run: docker-compose down
